@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700");

body {
    margin: 0;
    margin-bottom: 120px;
}

header.home {
    margin-bottom: 50px;
}

header.home h1.title {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    color: #E46B6C;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    line-height: 42px;
    margin-bottom: 0px;
}

header.home h1.title a {
    text-decoration: none;
    color: inherit;
}

header.home h2.subtitle {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    color: #92575D;
    text-align: center;
    font-size: large;
    line-height: 24px;
    margin-top: 0px;
}

header.home h2.subtitle a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    text-align: center;
    display:block;
    text-transform:none;
}

nav p {
    font-size: medium;
}
nav a {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    color: #92575D;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;

}

nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* Protégé */
article {
    margin-left: 15%;
    margin-right: 15%;
}

/* Protégé */
article h1 {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 2px;
}

/* Protégé */
article h1 mark {
    background-color: rgba(228, 107, 108, 0.75);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
/* Protégé */
article header h1 {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color: white;
}

/* Protégé */
article header h1 mark {
    background-color: #E46B6C;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

/* Protégé */
article p {
    font-family: 'IBM Plex Serif', "Georgia", serif;
    font-size: medium;
    line-height: 2;
    color: #92575D;
    font-weight: lighter;
}

/* Protégé */
article ul li {
    font-family: 'IBM Plex Serif', "Georgia", serif;
    font-size: medium;
    line-height: 2;
    color: #92575D;
    font-weight: lighter;
}

article h2 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-size: x-large;
    line-height: 32px;
    margin-top: 32px;
    color: #208E8B;
    text-transform: none;
}

img {
    max-width: 100%;
    float: left;
    margin-right: 25px;
}

article h1 {
    margin-top: 25px;
}

article section h1 {
    margin-top: 0;
    margin-bottom: 0;
}

article section h2 {
    margin-bottom: inherit;
}

/* Protégé */
p.message {
    color: #E36A6C;
    font-size: medium;
}

@media (max-width:1024px) {
    article {
        margin-left: 5%;
        margin-right: 5%;
    }
    section {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.message a, a:hover {
    white-space: normal;
    color: #E36A6C;
}

/* NEWSLETTER */


input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #E36A6C;
    border-radius: 0px;
    background-color: white;
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    font-weight: 800;
    font-size: medium;
    color: #E36A6C;
}

.button {
    font-family: "Alegreya Sans", "Open Sans", sans-serif;
    font-weight: 800;
    font-size: medium;
    background-color: #E36A6C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

hr {
    color: #E36A6C;
}